* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;

}

header {
  background: #E7E7E7;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid #385A64;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-right: 2rem;
}

ul li a {
  padding: 0 20px;
  text-decoration: none;
  color: #00C8AC;
  display: inline-block;
  font-size: 1.3rem;
}

nav{
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav .btn{
  background-color: #00DFC0;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 50px;
  font-size: 1rem;
  text-decoration: none;
}

li a::after {
  content: '';
  display: block;
  height: 4px;
  width: 0;
  margin-top: 5px;
  background: #2A454E;
  transition: all .5s;
}

li a:hover::after {
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.bg-img {
  max-width: 670px;
  height: auto;

}

.main-content {
  width: 30%;
}

main h1 {
  font-size: 54px;
  color: #133B4F;
  text-transform: uppercase;
}

main h2 {
  font-size: 25px;
  color: #FCA70C;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
}

main p {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  line-height: 31.5px;
  margin: 30px 0;
}

.btn {
  background-color: #00DFC0;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 50px;
  font-size: 1rem;
  text-decoration: none;
}
